/*--- fichier style.css avec sélecteur css : ordre important => surcharge ligne prec ---*/

Html body {
  margin: 0;
  Height: 100%
}

body {
  background-color: lightblue;
  /* couleur de fond de la page (astuce : c'est celle du menu) */
  font-size: 1em;
  font-family: 'Calibri', sans-serif;
  /* pas de marge */
  margin: 0;
  /* utilisation de la flexbox sur le conteneur "body" */
  display: flex;
  /* pres par defaut */
  flex-direction: column;
}

header {
  /* couleur de fond de page */
  background-color: rgb(52, 152, 219);
  /* allignement du texte */
  text-align: center;
  /* couleur du texte */
  color: white;
  /* marge intérieur du titre */
  padding: 1em;
  /*  border: 0.1em white solid;   /* bordure */
  /*  margin-bottom: 0.2em; /* marge bas */
}

header h1 {
  color: gold;
}

/* id conteneur_princ : unique */

#conteneur_princ {
  /* utilisation de la flexbox 0 sur le conteneur "conteneur" */
  display: flex;
  /* pres par defaut "ligne" */
  flex-direction: row;
}

/* nav directement enfant du conteneur */

#conteneur_princ>nav {
  /* permet de garantir que le menu est en premiere position */
  order: -1;
  /* poids grandeur */
  flex-grow: 2;
  /* taille fixe de 10% de la taille de la fenêtre "Viewport" */
  /* flex: 0 0 10vw; */
  /*  background-color: #59A0F2; */
  background-color: lightblue;
  text-align: left;
  color: white;
  /* hauteur du nav => on enlève car on utilise du flex */
  height: 40em;
  /* largeur du nav => on enleve width car on utilise flex */
  /*width: 12%;*/
  /* bordure */
  border: 0.25em lightblue solid;
  /* épaisseur bordure de droite */
  border-right-width: 0em;
  /* épaisseur bordure de droite */
  border-bottom-width: 0em;
  /* ombrage */
  box-shadow: 5px 5px 0px grey;
}

nav h2 {
  text-align: center;
}

ul.liensnav {
  /* supprime les puces pour les listes */
  list-style-type: none;
}

/* section img ou section video */

#conteneur_princ>section img,
#conteneur_princ>section video {
  /* largeur n% de la taille du pere */
  width: 30%;
  /*width: 120px;*/
  border: solid 1px red;
  /* hauteur auto : garde la cohérence en fontion de la largeur */
  height: auto;
  /* hauteur  : max pour ne pas dépasser la hauteur du cadre "article" */
  max-height: 5.5em;
  /* marge à droite et en bas de l'image pour que le texte ne soit pas collée */
  margin: 1em 1em 1em 1em;
}

#conteneur_princ>section {
  /* utilisation de la flexbox sur le conteneur "page" */
  display: flex;
  flex-direction: column;
  /* axe princ */
  flex-grow: 8;
  /* flex-wrap: wrap; /* on revient à la ligne si plus d'espace */
  /* justify-content: flex-end; /* alignement axe princ */
}

/* application du type d'élement html à "section" */

#conteneur_princ>section article {
  /* utilisation de la flexbox sur le conteneur "article" */
  display: flex;
  flex-direction: row;
  /* */
  background-color: white;
  color: black;
  height: 7em;
  /* bordure */
  border: 0.1em #59A0F2 solid;
  /* bordure arrondie */
  border-radius: 0.5em;
  /* marge du haut */
  margin-top: 0.5em;
  /* marge gauche */
  margin-left: 1em;
}

/* application du style à emboîtement de <p> dans <article> */

article p {
  color: black;
}

/* class titre_article itérée n fois */

.titre_article {
  /* marge intérieure du bloc */
  padding-top: 1%;
  padding-left: 1%;
  color: blue;
}

/* application du style à ".classe" */

.contenu_article {
  /* marge intérieure du bloc */
  padding-left: 1%;
  color: black;
}

/* application du style au formulaire de type "tel" */

input[ type="tel"], input[ type="url"]{
  color: red;
}

/* application du style au formulaire de type "text" et obligatoire */

input[ type="text"], [required] {
  border: solid 1px lightblue;
  color: orange;
  background:  lightgreen;
}

label::after {
  content : " ==";
  display : inline;
}

/*
.class input[ type="url"] {
{
  color: green;
}
*/  