/*--- fichier style.css avec sélecteur css : ordre important => surcharge ligne prec ---*/

Html body {
  margin: 0;
  Height : 100%
}

body {
  background-color: lightblue; /* couleur de fond de la page (astuce : c'est celle du menu) */
  font-size: 1em;
  font-family: 'Calibri', sans-serif;
  margin : 0; /* pas de marge */
}

header {
  /* couleur de fond de page */
  background-color: rgb(52, 152, 219);
  /* allignement du texte */
  text-align: center;
  /* couleur du texte */
  color: white;
  padding: 1em; /* marge intérieur du titre */ 
/*  border: 0.1em white solid;   /* bordure */
/*  margin-bottom: 0.2em; /* marge bas */
}

header h1 {
  color: gold;
}

#conteneur {
  /* utilisation de la flexbox sur le conteneur "conteneur" */
  display: flex;
  flex-direction: row;  /* axe princ */
}


nav {
/*  background-color: #59A0F2; */
  background-color: lightblue;
  text-align: left;
  color: white;
  /* hauteur du nav */
  height: 40em;
  /* largeur du nav => on enleve width car on utilise flex */
  /*width: 12%;*/
  flex: 2;
  /* bordure */
  border: 0.25em lightblue solid;
  /* épaisseur bordure de droite */
  border-right-width: 0em;
  /* épaisseur bordure de droite */
  border-bottom-width: 0em;
  /* ombrage */
  box-shadow: 5px 5px 0px grey;
}

nav h2 {
  text-align: center;
}

ul.liensnav {
  /* supprime les puces pour les listes */
  list-style-type: none;  
}

section img, section video {
   /* largeur n% de la taille du pere */
   width: 120px;
   /* hauteur auto : garde la cohérence en fontion de la largeur */
   height: auto;
    /* hauteur  : max pour ne pas dépasser la hauteur du cadre "article" */
   max-height: 5.5em;
  /* marge à droite et en bas de l'image pour que le texte ne soit pas collée */
   margin : 1em 1em 1em 1em;
}

section {
  /* utilisation de la flexbox sur le conteneur "page" */
  display: flex;
  flex-direction: column;  /* axe princ */
  flex: 8;
  /* flex-wrap: wrap; /* on revient à la ligne si plus d'espace */
  /* justify-content: flex-end; /* alignement axe princ */
}

/* application du type d'élement html à "section" */

article {
   /* utilisation de la flexbox sur le conteneur "article" */
  display: flex;
  flex-direction: row;
  /* */
  background-color: white;
  color: black;
  height: 7em;
  /* largeur du nav par rapport au parent*/
  width: 100%;
  /* bordure */
  border: 0.1em #59A0F2 solid;
  /* bordure arrondie */
  border-radius: 0.5em;
  /* marge du haut */
  margin-top: 0.5em;
  /* marge gauche */
  margin-left: 1em;
}

/* application du style à emboîtement de <p> dans <article> */
article p {
  color: black;
}


#titre_article {
  /* marge intérieure du bloc */
  padding-top: 1%;
  padding-left: 1%;
  color: blue;
}

/* application du style à ".classe" */
.contenu_article {
  /* marge intérieure du bloc */
  padding-left: 1%;
  color: black;
}
